* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    margin-top: 47px;
    margin-left: 42px;

}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: rgba(23, 35, 61, 1);
    letter-spacing: 0.875px;
    margin-right: 32px;
    cursor: pointer;
}

.button-header {
    background: rgba(111, 191, 68, 1);
    border: 1px solid rgba(76, 181, 56, 1);
    border-radius: 6px;
    width: 124px;
    height: 51px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    line-height: 24px;
    cursor: pointer;
    letter-spacing: 1px;

}

.logo-main {
    margin:163px 0 0 123px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 85px;
    width: 493px;
}

h1 {

    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: rgba(22, 26, 73, 1);
}

p {

    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: rgba(75, 80, 90, 1);
    margin-top: 47px;
    margin-bottom: 55px;


}

.link-main {

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: rgba(111, 191, 68, 1);
    cursor: pointer;


}